@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

/*DIVS PRINCIPAIS*/
#info,#download,#about-us{
    width:100%;
    height:auto;
}

/*HEADER*/

#header{
    width:100%;
    height:661px;
    background:url(../img/fundo.png);
    background-size:cover;
    color:white;
    font-weight:bold; 
    text-align: center;
    padding-top: 120px;
    
}
.text{
    color:#BC0000;
}
#header h2{
    font-family: 'Roboto Slab', serif;
    color:#DCDCDC;
    font-size:30px;
}

html, body{
  height: 100%;
  font-weight: 800;
}


svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #DCDCDC;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #FFF;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #F00;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #DCDCDC;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FFF;
	animation-delay: -5s;
}


@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/*INFO*/
#info{
    height:auto;
    padding-top:80px;
    padding-bottom: 100px;
    background:#dc3545;
}

#info h2{
    font-family: 'Noto Serif', serif;
    font-size:50px;
    color:#FFF;
}

#info p{
    font-family: 'Roboto Slab', serif;
    color:#DCDCDC;
}

.icon-box {
    color: #dc3545;
    background: #FFF;
    vertical-align: middle;
    border-radius: 50px !important;
    padding: 30px;
    display: inline;
}

.card-block{
    margin:5px;
    padding:3px;
}

.card-text{
    font-family: 'Noto Serif', serif;
}

h5{
    font-weight:4px;
    color:#FFF;
}
/*DOWNLOAD*/
#download{
    height:auto;
    padding-top:80px;
    padding-bottom: 100px;
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
}

#download h2{
    font-family: 'Noto Serif', serif;
    font-size:50px;
}
#download p{
    font-size:25px;
    color:#8e8e93;
}
.img-edit{
    width: 80%;
    position: relative;
    z-index: 80;
}

.img-edit2{
    width: 100%;
    position: relative;
    z-index: 80;
}

.img-edit1{
    padding:10px;
    width: 90%;
    position: relative;
    z-index: 80;
}
/*SOBRE NÓS*/
#about-us{
    padding:10px;
    height:auto;
    background: #dc3545;
    
}
#about-us h2{
    font-family: 'Noto Serif', serif;
    font-size:50px;
    color:#FFF;
}

#about-us p{
    color:#8e8e93;
}
.img-team {
    width: 160px;
}

.rounded-circle {
    border-radius: 50%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/*OUTRAS TAGS*/
#header h1{
    color: #ffffff;
    margin-top: 90px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 100px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    text-align:center;
}
h2{
 font-family: 'Oswald', sans-serif;
    font-size: 40px;
    line-height: 1.45;
    font-weight: 300;
}


/*Nav*/
.navbar-light .navbar-nav .nav-link {
    color:#f00;
    padding:30px;
    
}


#mainNav{
    padding:10px;
    background:#0d172e;
    color:white;
    font-size:16px;
    border-top:5px solid #BC0000;
}



.edit{
    padding-top:100px;
    padding-bottom:80px;
}

/*LOGIN E CADASTRO*/


.text-lc{
    font-family: 'Roboto Slab', serif;
    font-size:20px;
    margin:20px;
}

.login-block{
    background: #030321;
    background: linear-gradient(to bottom, #030321, #191970);
    float:left;
    width:100%;
    height:auto;
    
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}

.container{
    background:#FFF;
    border-radius: 10px; 
}

.login-sec{
    padding: 50px 30px; 
    position:relative;
}

.login-sec .copy-text{
    position:absolute; 
    width:100%; 
    bottom:20px; 
    font-size:13px; 
    text-align:center;
}

.login-sec .copy-text i{
    color:#FEB58A;
}

.login-sec .copy-text a{
    color:#E36262;
}

.login-sec h2{
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px; 
    color: #483D8B;
}

.login-sec h2:after{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#000080; 
    display:block; 
    margin-top:20px; 
    border-radius:3px; 
    margin-left:auto;
    margin-right:auto
}

.btn-login{
    background: #030321; 
    color:#fff; 
    font-weight:600;
}

.banner-text{
    width:70%; 
    position:absolute; 
    bottom:100px; 
    padding-left:20px;
}
.banner-text h2{
    color:#fff; 
    font-weight:600;
}
.banner-text h2:after{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#FFF; 
    display:block; 
    margin-top:20px; 
    border-radius:3px;
}
.banner-text p{
    color:#fff;
}

#olho{
    padding:10px;
}

/*PAINEL*/

.selected{
    font-size:16px;
    padding-top:10px;
    color:red;
}


.navi .active a{
    background: #0d172e;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
    color:red;
}

.navi a:hover{
    background: #122143;
    border-left: 5px solid #F00;
    padding-left: 15px;
}

.navi a{
    
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 18px 10px;
    text-decoration: none;
}

.side{
    background: #122143;
    color:#fff;
    
}

.cont{
    width:100%;
    height:auto;
    margin:10px;
}

.cont h2{
    font-size:45px;
    color:#030321;
}


.info-site2{
    height:auto;
    background:#DC0000;
    
}

.info-site{
    background:#AC0000;
}
.info-site2 a:hover{
    text-decoration:none;
    color:#DDD;
}

/*MENU*/
.navbar-style{
    background-color:#0d172e;
    color:white;
    font-size:16px;
    border-top:5px solid #BC0000;
}
.navbar-brand{
    margin:2px;
    font-size: 20px;
}


.well{
    float:right;
}
.usrNome{
    float:right;
}
.nav-item{
    background:#0d172e;
}

.fundo{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
}


h1{
    border: none;
    text-decoration:none;
    padding:5px;
    margin:10px;
}


p{
    font-weight: normal !important;
}

/*SITE INFO*/

.dominio{
    color: #999;
    font-size: 20px;
    font-weight: normal;
}

.item-style p{
    padding:7px;
    font-size:19px;
}
.panel{
    border: 3px solid #0d172e;
    border-radius:10px;
    padding:3px;
}


.info-clicks{
    width:100%;
    color:#696969;
}
.btn{
    padding:10px;
}
span{
    padding:4px;
}
button a{
    color:#FFF;
}
button a:hover{
    color:#CCC;
    text-decoration:none;
}


/*CADASTRAR SITE*/
.addsite{
    width:100%;
    border-radius:10px;
    padding:10px;
}
.addsite form{
    width:100%;
    border-radius:10px;
    padding:15px;
    border: 2px solid #DDD;
    border-top: 10px solid #DDC;
}
.addsite label{
    margin:5px;
    
}
.addsite h2{
    padding:7px;
    
}

.form-style{
    padding:30px
    
}
/*CONFIGURAÇÕES*/
.form-setting label{
    font-size:16px;
    margin:2px;
}
.b-effect{
    font-size:20px;
    color:#696969;
}

.form-setting input{
    margin:5px;
    border:2px solid #C0C0C0;
}
hr{
    border-top:5px solid #6A5ACD;
    background:#483D8B;
}
.hr-style{
       border-top:5px solid #191970;
    
}

/* scroll bar */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}


/*PÁGINA BAIXAR PLUGIN*/
.fadeIn {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.plugin h2{
    font-family: 'Roboto Slab', serif;
    margin:15px;
    font-size:46px;
    margin-top:28px;
}
.plugin{
    padding:25px;
}

.plugin p{
    margin:15px;
}

.plugin i{
    padding:5px;
}

.green-circle{
    position:absolute;
    padding:85%;
    margin-left:43%;
}
.green-success-check {
    position: absolute;
    padding:100%;
    margin-left:43%;
}
/*FOOTER*/

footer {
    background-color: #fff;
    border-top: 5px solid #ededed;
    padding: 50px;
    z-index: 2;
    position: relative;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.list-inline>li {
    padding: 0 7px;
}

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

footer ul li {
    font-size: 18px;
    color: #343434;
    line-height: 1.6;
}
footer ul {
    margin-bottom: 24px;
}
footer a{
    color:#9fa3a9;
    text-decoration: none;
}
footer a:hover{
    color:#FFF;
    text-decoration: none;
}

footer h3 {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 28px;
}

.social-icons a{
    font-size: 32px;
    color: #9fa3a9;
    padding: 15px;
}

.copyright{
    font-size:16px;
}